/* GENERAL */
html, body {
    height: 100%;
} /* for push pin*/
/* ////////////////////////////////////// */

/* MAIN */
/* Class for when element is above threshold */
.pin-top {
  position: relative;
}

/* // Class for when element is below threshold */
.pin-bottom {
  position: relative;
}

/* // Class for when element is pinned */
.pinned {
  position: fixed !important;
}

header, main, footer, #overlay {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer, #overlay {
  padding-left: 0;
  }
}

#overlay {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  display: none; /* Hidden by default */  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

div.card-content.white-text {
  padding-bottom: 0px;
}

#close_form_btn{
  margin-right: 0px;
}
/* ////////////////////////////////////// */
