* {
    font-family: cursive;
}
#header-nav {
    background-color: gray;
}

#header-nav span{
    color: black;
    font-weight: bold;
}

#chicken, #beef, #sushi {
    background-color: gray;
    margin-top: 15px;
    margin-left: 1.5%;
    width: 97%;
}

#nav-list {
    text-align: center;
}

#icon-bar {
    background-color: black;
    color: black;
}