/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2 {
    width: 33.33%;
    float: right;
    position: relative;
    border: solid black;
    text-align: center;
}

h2#Chicken {
    background-color: pink;
}

h2#Beef {
    background-color: red;
    color: white;
}

h2#Sushi {
    background-color: gold;
}

p {
    color: black;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

section {
    background-color: gray;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
    position: relative;
    margin-top: 5%;
}

/********** Desktops **********/
@media (min-width: 992px){
    .col-lg-4 {
        width: 30%;
        float: left;
        border: 1px solid black;
        margin-left: 2.5%;
    }
}

/********** Tablets **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 45%;
        position: relative;
        float: left;
        border: 1px solid black;
        margin-left: 3.33%;
    }

    .col-md-12 {
        width: 93.33%;
        margin-left: 3.33%;
        margin-top: 5%;
        float: left;
    }
}

/********** Phones **********/
@media (max-width: 767px){
    .col-sm-12 {
    width: 93.33%;
    margin-left: 3.33%;
    margin-top: 2.5%;
    float: left;
    }
}